<div class="container"> 
    <h2 *ngIf="!id">Aggiungi Todo</h2>  
    <h2 *ngIf="id">Modifica Todo</h2> 
    <mat-form-field appearance="fill">
      <mat-label>Name: </mat-label>
      <input matInput type="text" [(ngModel)]="todo.name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Priority: </mat-label>
      <input matInput type="number" [(ngModel)]="todo.priority">
    </mat-form-field> 
    <mat-form-field appearance="fill">
      <mat-label>Tags: </mat-label>
      <input matInput type="text" [ngModel]="(todo.tags | tagsString)" (ngModelChange)="this.todo.tags=convertTags($event)">
    </mat-form-field> 
    <button  mat-raised-button [disabled]="!todo.name" (click)="saveTodo()"color="primary">Save</button>
</div>
